target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

.idea
*.ipr
*.iml
*.iws

/.quarkus/cli/plugins/
.certs/

.mvn
problem_tests/
solutions/
.settings
.classpath
.factorypath
.project
